<template>
    <div class="card-wrap">
        <div class="title-card">
            <h3>Consult</h3>
            <font-awesome-icon icon="user-secret" />
        </div>
        <ul>
            <li v-for="item in objectItems">{{ item }}</li>
        </ul>
    </div>
    
</template>
<script>
export default {
    name: 'CardService',
    data() {
  return {
    objectItems: {
      key1: 'item1',
      key2: 'item 2',
      key3: 'item3'
    }
  }
}

}
</script>