<template>
    <div class="card-wrap">
        <div class="title-item">
            <h3>Consult</h3>
            <font-awesome-icon icon="user-secret" />
        </div>
        <p>Co-create, design thinking; strengthen infrastructure resist granular.
        Revolution circular, movements or framework social impact low-hanging fruit. 
        Save the world compelling revolutionary progress.</p>
    </div>
    
</template>
<script>
export default {
    name: 'CardService'
}
</script>
<style>

.title-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.title-item h3 {
    padding: 0 ;
    font-size: 18px;
}

.title-item .fa-user-secret {
    margin-left: auto;
}

.card-wrap {
    border: 1px solid #737171;
    padding: 20px;
    text-align: left;
    margin-bottom: 30px;
}

.card-wrap p {
    font-size: 15px;
    color: #5d5959;
}

</style>