<template>
    <div class="footer">
        <p><font-awesome-icon icon="copyright" /> <i class="far fa-copyright"></i> 2019 Dwi Joko Purnomo. All rights reserved.</p>
    </div>
</template>
<script>
export default {
    name: 'footer'
}
</script>
<style>
.footer {
    background: #004a75;
    color: #fff;
    padding: 25px 0;
    font-size: 18px;
}
.footer p{
    font-size: 16px;
    font-weight: 500;
}
</style>