<template>
    <div class="hero-wrapper">
        <span class="logo"><img src="../assets/logo-cermati.png"></span>
        <HeroText></HeroText>
    </div>
</template>
<script>
import HeroText from '@/components/HeroText'
export default {
    name: 'HeroImage',
    components: {
        HeroText
    }
}
</script>
<style>
.hero-wrapper {
    background: url(../assets/heroimage.jpg);
    min-height: 70vh;
    position: relative;
    background-size: cover;
    padding-top: 75px;
}
.hero-wrapper:after {
    content: '';
    background: #007ac2b0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.logo {
    display: block;
    width: 85px;
    padding: 20px;
    position: relative;
    z-index: 9;;
}

img {
    width: 100%;
}

@media(max-width: 480px){
    .hero-wrapper {
    padding: 0;
}
}

</style>