<template>
    <div class="text-wrap">
        <span>
        <h2>Helo! I'm Dwi Joko Purnomo</h2>
        <h3>Consult, Design and Developing Websites</h3>
        <p>Have something greate in mind? Feel free contact me. <br>I'll help you to make it happen.</p>
        <button>LET'S MAKE CONTACT</button>

        </span>
    </div>
</template>
<script>
export default {
    name: 'HeroText'
}
</script>
<style>
.hero-wrapper:after {
    content: '';
    background: #007ac2b0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    }

.text-wrap {
    position: relative;
    z-index: 9;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    color: #fff;
}

h2 {
    font-size: 36px;
    font-weight: normal;
}

h3 {
    font-size: 27px;
    padding: 15px 0;
}

span button {
    border: 2px solid #fff;
    padding: 20px;
    background: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    margin-top: 30px;
}
span button:hover {
    background: #fff;
    color: #007ac4;
    transition: ease-in-out 0.5s;
}

p {
    font-size: 20px;
}

@media(max-width: 480px){
    .text-wrap {
    padding: 10px;
}
}

</style>