<template>
    <div class="service-wrap">
        <div class="container">
            <div class="row">
                <div class="title-card">
                    <h3>How Can I Help You ?</h3>
                    <p>Our work targeted, best practice autocomes social innovation synergy. 
                        Venture philanthropy, revolutionary inclusive, policy maker relief. User-centered program areas scale</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs 12">
                    <div class="card-wrap">
                        <div class="title-item">
                            <h3>Consult</h3>
                            <font-awesome-icon icon="user-secret" />
                        </div>
                        <p>Co-create, design thinking; strengthen infrastructure resist granular.
                        Revolution circular, movements or framework social impact low-hanging fruit. 
                        Save the world compelling revolutionary progress.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs 12">
                    <div class="card-wrap">
                        <div class="title-item">
                            <h3>Design</h3>
                            <font-awesome-icon icon="user-secret" />
                        </div>
                        <p>    Policymaker collaborates collective impact humanitarian shared value
                        vocabulary inspire issue outcomes agile. Overcome injustice deep dive agile 
                        issue outcomes vibrant boots on the ground sustainable.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs 12">
                    <div class="card-wrap">
                        <div class="title-item">
                            <h3>Develop</h3>
                            <font-awesome-icon icon="user-secret" />
                        </div>
                        <p>Revolutionary circular, movements a or impact framework social impact low-
                        hanging. Save the compelling revolutionary inspire progress. Collective
                        impacts and challenges for opportunities of thought provoking.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs 12">
                    <div class="card-wrap">
                        <div class="title-item">
                            <h3>Marketing</h3>
                            <font-awesome-icon icon="user-secret" />
                        </div>
                        <p>Peaceful; vibrant paradigm, collaborative cities. Shared vocabulary agile,
                        replicable, effective altruism youth. Mobilize commitment to overcome
                        injustice resilient, uplift social transparent effective.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs 12">
                    <div class="card-wrap">
                        <div class="title-item">
                            <h3>Manage</h3>
                            <font-awesome-icon icon="user-secret" />
                        </div>
                        <p>Change-makers innovation or shared unit of analysis. Overcome injustice
                        outcomes strategize vibrant boots on the ground sustainable. Optimism,
                        effective altruism invest optimism corporate social.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs 12">
                    <div class="card-wrap">
                        <div class="title-item">
                            <h3>  Evolve</h3>
                            <font-awesome-icon icon="user-secret" />
                        </div>
                        <p>Activate catalyze and impact contextualize humanitarian. Unit of analysis
                        overcome injustice storytelling altruism. Thought leadership mass 
                        incarceration. Outcomes big data, fairness, social game-changer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'Service',
    components: {
    }
}
</script>
<style>
.service-wrap {
    padding: 50px 0;
}

.title-card {
    padding-bottom: 50px;
}

.title-card h3 {
    font-weight: 500;
}

.title-card p {
    font-weight: 500;
    max-width: 63%;
    margin: 0 auto;
}


.title-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.title-item h3 {
    padding: 0 ;
    font-size: 18px;
}

.title-item .fa-user-secret {
    margin-left: auto;
}

.card-wrap {
    border: 1px solid #737171;
    padding: 20px;
    text-align: left;
    margin-bottom: 30px;
}

.card-wrap p {
    font-size: 15px;
    color: #5d5959;
}

@media (max-width: 960px){
    .title-card p {
    max-width: 100%;
}
}
</style>