<template>
    <div class="sticky-bottom">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h3>Get latest update in technologies</h3>
            <p>I write article related to web technologies, such a design trend development tools, 
                UI / UX case studies and reviews, and more. Sign up to my newsletter to get them all.</p>
            <div class="form-group">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            <button>Count me in!</button>
        </div>

        </div>
    </div>
</template>
<script>
export default {
    name: 'StickyBottom'
}
</script>
<style>
.sticky-bottom {
    position: fixed;
    bottom: 0;
    max-width: 600px;
    text-align: left;
    margin: 0;
}

.alert {
    background: #007bc1a8;
    color: #fff;
    border: 0;
    margin: 0;
    padding: 20px;
    border-radius: 0;
}

.alert .form-group {
    display: flex;
    padding-top: 20px;
    align-items: center;
}

.alert .form-group input {
    max-width: 75%;
    border: 0;
    border-radius: 0;
}

.alert .form-group button {
    background: #ff8000;
    margin-left: auto;
    border: 0;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    padding: 7px 13px;
    height: 100%;
}

.alert p {
    font-size: 18px;
}

@media (max-width: 960px){
    .sticky-bottom {
    max-width: 300px;
}

.alert .form-group {
    display: block;
}

.alert .form-group input {
    max-width: 100%;
}

.alert .form-group button {
    width: 100%;
    margin-top: 10px;
}
}
</style>