<template>
    <div class="sticky-wrap">
        <span>
            <p>By accessing and using the webstite, you acknowledge that you have read and understand our 
            <a href="#">coockie policy</a>, <a href="#">privacy policy</a> and our <a href="#">term of service</a></p>
            <button class="slide-up">got it</button>
        </span>
    </div>
</template>
<script>
export default {
    name: 'StickyHeader'
}
</script>
<style>
    .sticky-wrap{
       background: #eaeaea;
        position: fixed;
        z-index: 99;
        width: 100%;
        padding: 15px 0;
    }
    .sticky-wrap span {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: left;
}

.sticky-wrap span p {
    font-size: 16px;
    max-width: 44%;
    font-weight: 500;
}

.slide-up {
    background: #007AC4;
    color: #fff;
    padding: 10px 17px;
    border-radius: 4px;
    text-transform: capitalize;
    border: 0;
    font-size: 15px;
    margin: 0;
}
.slide-up:hover {
    background: #28adff;
    transition: ease-in-out 0.2s;
    color: #fff;
}

@media (max-width: 960px) {
    .sticky-wrap span p {
    max-width: 59%;
}
}

@media (max-width: 480px){
    .sticky-wrap {
    position: relative;
}

.sticky-wrap span {
    display: block;
    padding: 0 20px;
}

.sticky-wrap span p {
    max-width: 100%;
    padding-bottom: 20px;
}
}
</style>