<template>
  <div id="app">
    <StickyHeader></StickyHeader>
    <HeroImage></HeroImage>
    <Service></Service>
    <Footer></Footer>
    <StickyBottom></StickyBottom>
  </div>
</template>
<script>
import StickyHeader from '@/components/StickyHeader'
import HeroImage from '@/components/HeroImage'
import Service from '@/components/Service'
import Footer from '@/components/Footer'
import StickyBottom from '@/components/StickyBottom'
export default {
  name: 'App',
  components: {
    StickyHeader,
    HeroImage,
    Service,
    Footer,
    StickyBottom
  }
}
</script>
<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-weight: 700;
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
    padding: 0;
}
p{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
}
</style>
